<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MTY3NDU1OTQsInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCI3OGYwZGVmNy0zMzI0LTQ4ZDUtYjRhMS1jMDBiMTllNmVjNzBcIixcInNlY3JldEtleVwiOlwiNWRhMDA2ZGViZmNmNDU4ZDkwZjU3NGJkMDAzYjdjN2JcIn0ifQ.-uLbdCpo7rqeOowHA6UnnE3bI4G09iA09z10YVpl1oQ" />
    <option name="deviceId" value="78f0def7-3324-48d5-b4a1-c00b19e6ec70" />
    <option name="refreshToken" value="01c6ffa8176f4be4882f7e746a171dd3" />
  </component>
</application>